* {
  box-sizing: border-box;
  margin: 0;
  color: hsla(204,12.449720506%,0%,0.77);
  font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}